absl-py==0.7.0
anndata==0.6.19
appnope==0.1.0
astor==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
bhtsne==0.1.9
bleach==3.1.0
brewer2mpl==1.4.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
Cython==0.29.4
DCA==0.2.2
decorator==4.3.2
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.0.1
fcsparser==0.2.0
Flask==1.0.2
future==0.16.0
gast==0.2.2
goatools==0.8.12
graphtools==0.1.10
grpcio==1.14.1
h5py==2.9.0
hyperopt==0.1.2
idna==2.8
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
kopt==0.1.0
leidenalg==0.7.0
llvmlite==0.28.0
loompy==2.0.17
louvain==0.6.1
magic-impute==1.2.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
mkl-fft==1.0.0
mkl-random==1.0.1
mock==2.0.0
more-itertools==6.0.0
mpld3==0.3.1.dev1
natsort==6.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nose==1.3.7
notebook==5.7.4
numba==0.43.1
numexpr==2.6.5
numpy==1.15.2
numpy-groupies==0+unknown
openpyxl==2.6.0
palantir==0.2
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
patsy==0.5.1
pbr==5.1.3
pexpect==4.6.0
phate==0.2.9
PhenoGraph==1.5.2
pickleshare==0.7.5
pluggy==0.9.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.5.0
ptyprocess==0.6.0
py==1.8.0
pycairo==1.18.0
pydot==1.4.1
Pygments==2.3.1
PyGSP==0.5.1
pymongo==3.7.2
pyparsing==2.3.1
PyQt5==5.12
PyQt5-sip==4.19.14
pysam==0.15.2
pytest==4.3.1
python-dateutil==2.8.0
python-igraph==0.7.1.post6
pytz==2018.9
PyYAML==5.1
pyzmq==18.0.0
qtconsole==4.4.3
requests==2.21.0
rpy2==2.9.4
scanpy==1.4
scikit-learn==0.19.1
scipy==1.1.0
scprep==0.10.1
scvelo==0.1.16
seaborn==0.9.0
Send2Trash==1.5.0
sip==4.19.13
six==1.12.0
sklearn==0.0
slalom==1.0.0.dev11
statsmodels==0.9.0
tables==3.4.4
tasklogger==0.2.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.7.2
traitlets==4.3.2
typing==3.6.4
tzlocal==1.5.1
urllib3==1.24.1
velocyto==0.17.17
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.4.2
xlrd==1.2.0
XlsxWriter==1.1.5
